.container {
  width: 100%;
  position: fixed;
  top: 20rem;
}

/* Sidebar Css */
.mainstep {

  position: fixed;
  left: 20rem;
}

.stepleft {
  position: fixed;
  left: 7rem;
  margin-top: -2.3rem;
}

.head3 {
  margin-left: 1.3rem;
}
.head4 {
  margin-left: 1.3rem;
}

/* Form Css */
.form-container{
  margin-left: 32rem;
}


.forms{
margin-top: 4rem;
position: relative;
right: 2rem;

}

input{
width: 40%;
margin: 20px 30px;
outline: 0;
border: none;
border-bottom:1px solid #999999 ;
color: blue;
font-size: 1rem;

}

.input-label{
display: block;
position: absolute;
top: -6px;
left:29px;
font-size:1em ;
color: #999999;
text-transform: capitalize;
transition: 0.3s ease;
}

.select{
display: block;
border: none;
outline: 0;
position: absolute;
left: 6rem;

}